name: Deploy Flutter Web

permissions:
  contents: write

on:
  push:
    branches:
      - master

jobs:
  deploy:
   runs-on: ubuntu-latest

   steps:
      - uses: actions/checkout@v4
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: any
          flutter-version: 3.27.x
  
      - run: flutter --version
      - run: dart --version
  
      - name: Install app dependencies
        run: flutter pub get
  
      - name: Test app
        run: flutter test
  
      - run: flutter build -v web --no-tree-shake-icons --base-href="/."
  
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: build/web
